<!DOCTYPE>
<html>
<head>
	<title>Hotel Application</title>
	<!-- our own css styles -->
	<link rel="stylesheet" href="css/styles.css">
	<!-- bootstrap css cdn-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- font awesome cdn -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- slick carousel cdn -->
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.8.0/slick.css"/>
	
</head>
<body>
	<p>This is a test</p>





	<!-- jquery and bootstrap cdns -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- slick carousel js cdn -->
	<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.8.0/slick.min.js"></script>	
	<!-- our own js scripts file -->
	<script src="js/scripts.js"></script>
</body>
</html>