<!DOCTYPE>
<html>
<head>
	<title>Hotel Application</title>
	<!-- roboto font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<!-- our own css styles -->
	<link rel="stylesheet" href="css/styles.css">
	<!-- bootstrap css cdn-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<!-- font awesome cdn -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- slick carousel cdn -->
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/css/iziModal.min.css">
	
</head>
<body>
	<nav class="navbar navbar-default navbar-toggleable-md  navbar-fixed-top">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" id="brand-variane" href="#">SH</a>
	  
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto">
	
			<!-- <li class="nav-item">
			  <a class="nav-link" href="#">Link</a>
			</li> -->
		  </ul>
		  <form class="form-inline my-2 my-lg-0">
			<!-- <input class="form-control mr-sm-2" type="text" placeholder="Search"> -->
			<button class="btn btn-outline-success my-2 my-sm-0 trigger-custom" data-izimodal-open="#modal-custom" type="submit">Sign In</button>
			<button class="btn btn-outline-success my-2 my-sm-0 btn-space" type="submit">Register</button>
		  </form>
		</div>
	  </nav>
	  <div class="container vertical-align">
		<div class="row">
			<div class="col-1-lg col-centered welcome">
				<h1>Welcome to <span class="variane">Swervy Hotels</span></h1>
			</div>
		</div>
		</div>

		<!-- modal div -->
		<div id="modal-custom" data-iziModal-group="grupo1">
			<button data-iziModal-close class="icon-close">x</button>
			<header>
					<a href="" id="signin">Sign in</a>
					<a href="" class="active">New Account</a>
			</header>
			<section class="hide">
					<input id="loginUsername" type="text" placeholder="Username">
					<input id="loginPassword" type="password" placeholder="Password">
					<footer>
							<button data-iziModal-close>Cancel</button>
							<button class="submit" id="loginButton">Log in</button>            
					</footer>
			</section>
			<section>
					<input id="createAccountUsername" type="text" placeholder="Username">
					<input id="createAccountEmail" type="text" placeholder="Email">
					<input id="createAccountPassword" type="password" placeholder="Password">
					<footer>
							<button data-iziModal-close>Cancel</button>
							<button class="submit" id="createAccountButton">Create Account</button>            
					</footer>
			</section>
	</div>



	<!-- jquery and bootstrap cdns -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<!-- slick carousel js cdn -->
	<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/js/iziModal.min.js"></script>
	<!-- our own js scripts file -->
	<script src="js/scripts.js"></script>
</body>
</html>