<!DOCTYPE html>
<html>
<head>
    <title>Hotel Application</title>
    <!-- date picker -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <!-- roboto font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- our own css styles -->
    <link rel="stylesheet" href="css/styles.css">
    <!-- bootstrap css cdn-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!-- font awesome cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- slick carousel cdn -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/css/iziModal.min.css">
</head>

<style>

			

table, th, td {
   
   border-collapse: collapse;
}
th, td {
    padding: 5px;
}
th {
    text-align: left;
}
</style>
</head>
<body>
 <h2>My Reservations</h2>
                        <style>
                            h2 {
                                text-align: center;
                                color: #000;
                            }
                            </style>

<div class = "MyReservations">
<table style="width:100%">
  <tr>
    <th>Invoice Number</th>
    <th>Location</th> 
    <th>Start Date</th>
    <th>End Date</th> 
    <th>Total Amount</th>
  </tr>
</table>
<p> <br></p>
<div align = "left">
<button type="Place Reservation" class="btn btn-success">Place Reservation</button>
                  <style>
                      button {
                        padding-top: 30px;
                        padding-right: 10px;
                        padding-bottom: 30px;
                        padding-left: 80px;
                        margin: 20px;
			
                      }
                      </style>
			</div>

			</div>


</body>
</html>