<!DOCTYPE>
<html>
<head>
    <title>Hotel Application</title>
    <!-- jquery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- date range picker -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css">
    <!-- roboto font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- our own css styles -->
    <link rel="stylesheet" href="/css/reserve.css">
    <!-- bootstrap css cdn-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!-- font awesome cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- slick carousel cdn -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/css/iziModal.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <form method="post" action="">
    <div class="outer-container">
        <div class="row reserveTitle">
            <div class="col-sm-12 text-center">
                <h1>Reserve</h1>
                <hr class="titleHr">
            </div>
        </div>
        <div class="row">
            <!-- container for hotel information and payment information -->
                <div class="col-sm-6">
                    <!-- hotel image and information -->
                    <div class="hotelInformation">
                        <div class="row">
                        
                        </div>
                    </div>
                    <div class="paymentSection">
                        <div class="row sectionTitle">
                            <div class="col-sm-12 text-center">
                                <h3 id="paymentInfo">Payment Information</h3>
                                <hr class="paymentHr">
                            </div>
                        </div>
                        <div class='form-row'>
                            <div class='col-xs-12 form-group required'>
                                <label class='control-label'>Name on Card</label>
                                <input class='form-control' type='text' name="nameOnCard" id="nameOnCard">
                            </div>
                        </div>
                        <div class='form-row'>
                            <div class='col-xs-12 form-group required'>
                                <label class='control-label' for="cardNumber">Card Number</label>
                                <input class='form-control' type='text' name="cardNumber" id="cardNumber">
                            </div>
                        </div>
                        <div class='form-row'>
                            <div class='col-xs-6 form-group required'>
                                <label class='control-label' for="expirationMonth">Expiration Month</label>
                                <input class='form-control' type='text' name="expirationMonth" id="expirationMonth" placeholder="MM">
                            </div>
                            <div class="col-xs-6 form-group required">
                                <label for="expirationYear" class="control-label">Expiration Year</label>
                                <input type="text" class="form-control" name="expirationYeard" id="expirationYear" placeholder="YYYY">
                            </div>
                        </div>
                        <div class='form-row'>
                            <div class='col-xs-12 form-group required'>
                                <label class='control-label' for="securityCode">CVC</label>
                                <input class='form-control' type='text' name="securityCode" id="securityCode">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-xs-12">
                                <label class="control-label">Type</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <input type="radio" class="typeRadio" name="ccRadio" id="visa" value="visa">
                                <img src="/assets/icons/visa.png" class="ccIcon">
                            </div>
                            <div class="col-xs-3">
                                <input type="radio" class="typeRadio" name="ccRadio" id="mastercard" value="mastercard">
                                <img src="/assets/icons/mastercard.png" class="ccIcon">
                            </div>
                            <div class="col-xs-3">
                                <input type="radio" class="typeRadio" name="ccRadio" id="discover" value="discover">
                                <img src="/assets/icons/discover.png" class="ccIcon">
                            </div>
                            <div class="col-xs-3">
                                <input type="radio" class="typeRadio" name=ccRadio id="amex" value="amex">
                                <img src="/assets/icons/amex.png" class="ccIcon">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- container for reservation information -->
                <div class="col-sm-6">
                    <div class="reservationDetails">
                        <div class="row sectionTitle">
                            <div class="col-sm-12 text-center">
                                <h3>Details</h3>
                                <hr class="paymentHr">
                            </div>
                        </div>
                        <div class='form-row'>
                            <div class='col-sm-12 form-group required'>
                                <label class='control-label' for="roomType">Select Room Type</label>
                                <select class="form-control" name="roomType" id="roomType">
                                    <option value="Single King">Single King</option>
                                    <option value="Double King">Double King</option>
                                    <option value="Single Queen">Single Queen</option>
                                    <option value="Double Queen">Double Queen</option>
                                    <option value="Double Standard">Double Standard</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-12 form-group required">
                                <label for="datefilter" class="control-label">Duration</label>
                                <input class="form-control" type="text" name="datefilter"/>
                            </div>
                        </div>
                        <div class='form-row'>
                            <div class='col-sm-12 form-group required'>
                                <label class='control-label' for="breakfastType">Add Breakfast</label>
                                <select class="form-control" name="breakfastType" id="breakfastType">
                                    <option value="None">None</option>
                                    <option value="American">American</option>
                                    <option value="English">English</option>
                                    <option value="Continental">Continental</option>
                                    <option value="French">French</option>
                                    <option value="Italian">Italian</option>
                                </select>
                            </div>
                        </div>
                        <div class='form-row'>
                                <div class='col-sm-12 form-group required'>
                                    <label class='control-label' for="serviceType">Add Service</label>
                                    <select class="form-control" name="serviceType" id="serviceType">
                                        <option value="None">None</option>
                                        <option value="Parking">Parking</option>
                                        <option value="Airport Shuttle">Airport Shuttle</option>
                                        <option value="Laundry">Laundry</option>
                                        <option value="Massage">Massage</option>
                                    </select>
                                </div>
                            </div>
                    </div>
                </div>
        </div>
        <div class="row">
                <div class="col-sm-12 text-center">
                    <button type="submit" id="reserveButton"class="btn btn-success reserveButton">Reserve</button>
                </div>
            </div>
    </div>
</form>

<script src="/js/reserve.js"></script>

</body>
</html>