<!DOCTYPE>
<html>
<head>
    <title>Hotel Application</title>
    <!-- date picker -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <!-- roboto font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- our own css styles -->
    <link rel="stylesheet" href="css/styles.css">
    <!-- bootstrap css cdn-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!-- font awesome cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- slick carousel cdn -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/css/iziModal.min.css">
</head>
<body>
    
        <div class="container my-custom-container">
                <style>
                        div {
                            background-color: white;
                            padding-top: 50px;
                            padding-right: 30px;
                            padding-bottom: 40px;
                            padding-left: 80px;
                            margin: 40px;
                            margin-bottom: 20px;
                        }
                        </style>
                <h2>Review Form</h2>
                        <style>
                            h2 {
                                text-align: center;
                                color: #000;
                            }
                            </style>
                <form>
                  <div class="form-group">
                        <style>
                                div {
                                    background-color: white;
                                    padding-top: 15px;
                                    padding-right: 10px;
                                    padding-bottom: 15px;
                                    padding-left: 80px;
                                    margin: 20px;
                                }
                                </style>
                    <label for="name">Name:</label>
                    <style>
                            label {
                                color: black;
                                
                            }
                            </style>
                    <input type="name" class="form-control" id="name" placeholder="Enter Name">
                    <style>
                        input {
                            border-color: #5CB85C;
                        }
                        </style>
                  </div>
                  <div class="dropdown">
                    <label>Select Review Type:</label>
                        <select id = "myList">
                        <option value = "Room Review">Room Review</option>
                        <option value = "Breakfast Review">Breakfast Review</option>
                        <option value = "Service Review">Service Review</option>
                    </select>
                  </div>

            <div class = "form-group">
                <h6>Description:</h6>
            <textarea name="paragraph_text" cols="100" rows="10"></textarea>
                      </div>

                  <button type="submit" class="btn btn-success">Submit</button>
                  <style>
                      button {
                        padding-top: 30px;
                        padding-right: 10px;
                        padding-bottom: 30px;
                        padding-left: 80px;
                        margin: 20px;
                      }
                      </style>
                </form>
              </div>
</body>
<html>