@font-face { 
    font-family: Variane-Script; 
    src: url('../assets/Variane_Script.ttf'); 
}

body{
    background-image: url('../assets/dark_homepage_background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-default {
    background:transparent;
    border-color: transparent;
    /* color: white; */
}
.welcome{
    color: white;
    opacity: 0.8;
    letter-spacing: 3px;
}
.variane{
    font-family: Variane-Script;
    font-size: 1.5em;
}
#brand-variane{
    font-size: 2.5em;
    font-family: Variane-Script;
}
.vertical-align{
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}
h1{
    font-family: 'Roboto', sans-serif;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
nav a {
    color: white;
    transition: 0.25s;
}
nav a:hover{
    color:#5CB85C; 
}
.btn-space{
    margin-left:10px;
}